* {
    margin: 0;
    padding: 0;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5% 3% 0.5% 5%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    margin-bottom: 20px;
    background-color: #FAFAFB;
}


.navbar-logo img {
    width: 150px;
    height: 80px;
}


.navbar-links {

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 50%;
    font-size: 1.2rem;
    color: #48505e
}

.navbar-links :nth-child(6) {
    color: #5846f6;
    border: #5846f6 1px solid;
    border-radius: 50px;
    font-size: 1.05rem;
    padding: 1% 3%;
    background-color: transparent;

}

.navbar-links :nth-child(6):hover {
    color: white;
    background-color: #5846f6;
}

.navbar-links :nth-child(7) {
    border-radius: 50px;
    font-size: 1.05rem;
    padding: 1% 3%;
    background-color: transparent;
    border: 1px solid #5846f6;
    background-color: #5846f6;
    color: #fff;
}


.navbar-links :nth-child(7):hover {

    border-color: #4636c5;
    background-color: #4636c5;
}

.footer {
    display: flex;
    justify-content: space-between;

    width: 100%;
    padding: 3.5% 3% 2.5% 5%;
    box-sizing: border-box;
    background-color: #24282F;
    color: #C8CBD9;
}


.footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 15%;
}


.footer-logo img {
    width: 120px;
    height: 30px;
    margin-bottom: 10%;
}


.footer-contents {

    width: 50%;
    display: flex;
    justify-content: space-between;

}

.footer-cell>p,
.footer-cell>div>p {
    margin-bottom: 15%;
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    height: 80px;
    background-color: #1B1B1B;
    color: white;
    box-sizing: border-box;
    padding: 1% 3%;
}
#container1{
    height: 400px;
    width:80%;
    display:flex;
    margin: auto;
    /*border: 1px solid black;*/
    margin-top: 15%;
}
#boxa{
 height: 400px;
 width:50%;
 /*border: 1px solid black;*/
 
}
#boxa > h1{
    font-size:40px;
    font-weight: 700;
    font-family: sans-serif;
    padding-bottom: 5%;
}
#boxa > h2{
    font-size:30px;
    font-weight: 400;
    font-family: sans-serif;
    padding-bottom: 5%;
}
#boxa >p{
    font-size: 20px;
    font-weight:300 ;
    font-family: sans-serif;
    padding-bottom: 5%;
    
}
#boxa > button{
    color:#fff;
      border-radius: 90px;
      background-color:#5846f6;
      border:1px #5846f6;
      cursor:pointer;
      min-width:70px;
      font-size:15px;
      font-weight: 400;
      height:50px;
      width:20%;
}
#boxa > button:hover{
    background-color:#3824e6;
}

#boxb > img{
    height:400px;
    width:100%;
   /* border:1px solid black;*/
    vertical-align:middle;
    box-sizing: border-box;
    margin-left: 50px;
    padding-bottom: 10%;
}

/*-----------------------------------------------Container2------------------------------------------*/
#container2{
    height: 600px;
    width:100%;
    margin: auto;
    margin-top: 70px;
    /*border: 1px solid black;*/
    background-color: #FAFAFA;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,200px);
    justify-items: center;
    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 10%;
    
}
#container2 > div{
    /*border:1px solid black;*/
    width:70%;
    height:300px;  
}

#container2 > div > h2{
text-align:left;
font-size: 28px;
font-weight: 700;
}

#container2 > div > p{
text-align: left;
font-size: 18px;
padding-top: 5%;
}
/*----------------------------------------------------Container3---------------------------------------------*/
#container3{
   height: 400px;
    width:80%;
    display:flex;
    margin: auto;
    margin-top: 5%;
    /*border: 1px solid black;*/
}
#boxc{
 height: 400px;
 width:50%;
 /*border: 1px solid black;*/
 padding-left: 70px;
 padding-top: 10%;
 
}
#boxc > h1{
    font-size:40px;
    font-weight: 700;
    font-family: sans-serif;
}

#boxc > p{
    font-size: 22px;
    font-weight:400 ;
    font-family: sans-serif;
    padding-top: 5%;
}

#div > img{
    height:400px;
    width:100%;
   /* border:1px solid black;*/
    vertical-align:middle;
    box-sizing: border-box;
    margin-left: 50px;
}
/* ---------------------------------------------------Container4--------------------------------------------*/
#container4{
    height: 500px;
    width:100%;
    margin: auto;
    margin-top: 70px;
    /*border: 1px solid black;*/
    background-color: #FAFAFA;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2,170px);
    justify-items: center;
    gap:40px;
    
}
#boxd{
    /*border:1px solid black;*/
    width:50%;
    height:150px;
    padding-top: 5%;
}

#container4 >#boxd > h1{
text-align:center;
font-size:30px;
font-weight: 700;
}

#container4 > #boxd > h3{
text-align: center;
font-size: 20px;
padding-bottom: 30px;
color:#5846f6;

}
#boxe{
    height: 400px;
    width:100%;
    margin: auto;
   
    /*border: 1px solid black;*/
    display: flex;
    /*grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,170px);*/
    justify-items: center;
    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 10%;
    
}
#boxe > div{
    height:300px;
    width:70%;
}
#boxe > div > h6{
    text-align:left;
    font-size: 15px;
    font-weight: 700;
    padding-left: 50px;
    color:#5846f6;
    
    }
#boxe > div > h2{
    text-align:left;
    font-size: 30px;
    font-weight: 700;
    padding-left: 50px;
    padding-top: 5%;
    
    }
    
    #boxe > div > p{
    text-align: left;
    font-size: 20px;
    padding-left: 50px;
    padding-bottom: 30px;
    padding-top: 5%;
    
    }
    /*------------------------------------------------------Container5---------------------------------------------*/
    
    #container5{
        height: 400px;
         width:100%;
         display:flex;
         margin: auto;
         margin-top: 5%;
         /*border: 1px solid black;*/
     }
     #boxf{
        height: 400px;
        width:50%;
        padding-left: 10%;
         padding-top: 8%; 
     }
     
     #boxf > p{
         font-size: 30px;
         line-height: 1.5385;
         font-weight:400 ;
         font-family: sans-serif;
         text-align: left;
         
     }
     
     #container5 > div > img{
         height:400px;
         width:100%;
         border-radius: 20px;
        /* border:1px solid black;*/
         vertical-align:middle;
         box-sizing: border-box;
         margin-right:20%;
     }

    /*------------------------------------------Container6----------------------------------------------*/
    
    #container6 {
        width: 100%;
        display: flex;
        height: 432px;
        justify-content: center;
        color: #fff;
        border-radius: 20px;
        box-sizing: border-box;
        padding: 3% 3%;
        margin: 2% 0 8%;
    }
    
    .blue-box {
    
        background-image: url("https://storage.googleapis.com/lumen5-site-images/website-assets/cta-bg.png");
        background-position: center;
        /* Center the image */
        background-repeat: no-repeat;
        /* Do not repeat the image */
        background-size: cover;
        /* Resize the background image to cover the entire container */
        border-radius: 20px;
        height: 432px;
        padding: 3% 12%;
        box-sizing: border-box;
        max-width: 1100px;
        text-align: center;
    
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    
    .blue-box>h1 {
        font-size: 2.6rem;
        margin-bottom: 30px;
    }
    
    .blue-box>p {
    
        font-size: 1.6rem;
        line-height: 1.33;
        width: 650px;
    }
    
    
    .blue-box>button {
        color: #5846f6;
        border: #5846f6 1px solid;
        border-radius: 50px;
        font-size: 1.05rem;
        padding: 2% 3%;
        background-color: white;
        margin: 5% 0;
    
    }
    
    .blue-box>button:hover {
        background-color: #f0f0f4;
        ;
    }
/*------------------------------------------------dropdown----------------------------------------*/
    .dropdown{
        position: relative;
    }
    
    .dropdown-content{
    position: absolute;
    top: 40px;
    width: 250px;
    left:0;
    background-color: white;
    color: #24282F;
    text-decoration: none;
    display: none;
    padding: 10px;
    
    
    } 
    
    .dropbtn{
        font-size: 16px;  
      border: none;
      outline: none;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }
    
    .dropdown-content>a{
    color: #24282F;
    text-decoration: none;
    font-size: 0.9rem;
    margin-top: 30px;
    }
    
    .show{
        display: block;
    }